.trs {
  @apply transition-all duration-300;
}

.btn__scl {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(0.8);
    transition: transform 0.1s ease, color 0.3s ease;
  }
}

.app__clr {
  @extend .trs;
  @apply text-gray-300;

  &:hover {
    @apply text-blue-600;
  }
}

.btn__clr {
  @extend .btn__scl;
  @extend .app__clr;
}
