// ? fast tested to see where an element is ad his border-box
.tb {
  @apply border-[3px] border-red-600;
}
.tc {
  @apply text-red-600 text-3xl;
}

// ? border style often used
.bd__sm {
  @apply border-2 border-gray-300 rounded-xl;
}

.bd__md {
  @apply border-3 border-gray-300 rounded-xl;
}

// ?  scroll
.scroll__app::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll__app::-webkit-scrollbar-track {
  background: transparent;
}

.scroll__app::-webkit-scrollbar-thumb {
  background: var(--gray__300);
  border-radius: 10px;
}

.scroll__app {
  scrollbar-width: auto;
  scrollbar-color: var(--gray__300) transparent;
}
