.z__portal {
  z-index: 100;
}

.z__sidebar__bg {
  z-index: 200;
}

.z__sidebar {
  z-index: 300;
}

.z__header {
  z-index: 400;
}

.z__tooltip_near_header {
  z-index: 500;
}

.z__del_acc__bg {
  z-index: 600;
}
.z__del_acc {
  z-index: 700;
}

.z__wake_up__bg {
  z-index: 800;
}

.z__wake_up {
  z-index: 900;
}

.z__toast {
  z-index: 1000;
}
