<app-page-wrapper [waitClient]="false">
  <ng-template #contentRef>
    <div class="root">
      <app-search-bar
        [txtInputsAvailable]="txtInputsAvailable()"
        [form]="form()"
        [defState]="defState()"
        [filtersAvailable]="filtersAvailable()"
        [sortersAvailable]="sortersAvailable()"
        [totPages]="totPages()"
        [usePagination]="usePagination()"
      />
    </div>
  </ng-template>
</app-page-wrapper>

<app-page-counter [totPages]="totPages()" [usePagination]="usePagination()" />
