<div class="root">
  <app-search-bar
    appUseSearchBarPropsDir
    [txtInputsAvailable]="useSearchBarProps.txtInputsAvailable()"
    [form]="useSearchBarProps.form()"
    [defState]="useSearchBarProps.defState()"
    [filtersAvailable]="useSearchBarProps.filtersAvailable()"
    [sortersAvailable]="useSearchBarProps.sortersAvailable()"
    [useDebounce]="useDebounce"
    appUseSearchBarStrategyPropsDir
    [usePagination]="usePagination"
    [triggerStrategy]="triggerStrategy"
  />

  <app-hits-counter [nHits]="useSearchBarPaginationProps.nHits()" />
</div>
<app-page-wrapper
  [waitClient]="true"
  [isPending]="isPending()"
  [minH]="'min-h-[80vh]'"
  [eventT]="'INFO'"
>
  <ng-template #contentRef></ng-template>
</app-page-wrapper>

<app-page-counter
  appUseSearchBarPaginationPropsDir
  [totPages]="useSearchBarPaginationProps.totPages()"
  [nHits]="useSearchBarPaginationProps.nHits()"
  appUseSearchBarStrategyPropsDir
  [usePagination]="usePagination"
  [triggerStrategy]="triggerStrategy"
/>
