# ? ignore client stuff
/apps/client

# ? java
*.class
*.log
*.jar
*.war
*.ear
out/
bin/
.gradle

# ? useless
.editorconfig

# ? turbo
turbo/
.turbo/

# ? build apps
dist/
build/

# ? loggers
logger/

# ? assets
uploads/
server_assets/
