<app-black-bg [conf]="blackBgConf()"></app-black-bg>

<div
  class="root z__sidebar"
  appUseMouseOut
  [ngClass]="isOpen() ? '-translate-x-full opacity-100' : 'translate-x-0 opacity-0'"
>
  <div class="root__span_mail">
    <app-txt-clamp [conf]="txtClampConf" />
  </div>

  <div class="root__body scroll__app">
    <div class="body__wrap_links">
      @for(lk of allUsersLinks; track lk.id){
      <app-side-link [lk]="lk" [currPath]="currPath()" [onSideClick]="onSideClick" />
      }
    </div>
  </div>
</div>
