<app-black-bg [props]="blackBgProps()" />

<div
  class="root z__sidebar"
  appUseMouseOut
  [ngClass]="isOpen() ? '-translate-x-full opacity-100' : 'translate-x-0 opacity-0'"
>
  <div class="root__span_mail">
    <app-txt-clamp [props]="txtClampProps" />
  </div>

  <div class="root__body scroll__app">
    <div class="body__wrap_links">
      @for(lk of allUsersLinks; track lk.id){
      <app-side-link [lk]="lk" [currPath]="currPath()" [onSideClick]="onSideClick" />
      }

      <app-drop-static [spanProps]="spanUserProps()">
        <ng-template #dropContent>
          <div class="body__wrap_links">
            @for(lk of notLoggedLinks; track lk.id){
            <app-side-link [lk]="lk" [currPath]="currPath()" [onSideClick]="onSideClick" />
            }
          </div>
        </ng-template>
      </app-drop-static>
    </div>
  </div>
</div>
