<app-black-bg [props]="blackBgProps()" />

<div
  #side
  [attr.data-testid]="'sidebar'"
  class="root z__sidebar"
  [ngClass]="isSideOpen() ? '-translate-x-full opacity-100' : 'translate-x-0 opacity-0'"
>
  <div class="root__span_mail">
    <app-txt-clamp [props]="txtClampProps" [lines]="2" />
  </div>

  <div class="root__body scroll__app">
    <div class="body__wrap_links">
      @for(lk of allUsersLinks; track lk.id){
      <app-nav-link [spanProps]="lk" [currPath]="currPath()" [setIsDropOpen]="onSideClick" />
      }

      <app-drop-static
        [spanProps]="spanUserProps()"
        [testId]="'sidebar__drop_user'"
        [isOpen]="isDropOpen()"
        [setIsOpen]="setIsDropOpen"
      >
        <ng-template #dropContent>
          <div class="body__wrap_links">
            @for(lk of notLoggedLinks; track lk.id){
            <app-nav-link
              [testId]="testIdFromPath(lk.path)"
              [spanProps]="lk"
              [currPath]="currPath()"
              [setIsDropOpen]="onSideClick"
            />
            }
          </div>
        </ng-template>
      </app-drop-static>
    </div>
  </div>
</div>
