<div class="root z__header">
  <div class="root__left">
    <a routerLink="/" class="svg__2xl app__clr">
      <app-svg-fill-ghost />
    </a>
  </div>

  <div class="root__right">
    <!-- <button class="svg__3xl app__clr">
      <app-svg-stroke-user-write />
    </button> -->

    <app-drop-abs
      [isOpen]="isDropOpen()"
      [setIsDropOpen]="setIsDropOpen"
      [spanProps]="spanDropProps()"
      [spanSizesProps]="spanDropSizesProps"
    >
      <ng-template #dropContent>
        <div class="right__drop_content">
          <!--  -->
          @for(lk of notLoggedLinks; track lk.id){
          <app-nav-link [spanProps]="lk" [currPath]="currPath()" [setIsDropOpen]="setIsDropOpen" />
          }
        </div>
      </ng-template>
    </app-drop-abs>

    <button
      [ngClass]="
        isSideOpen() ? 'text-red-600 svg__3xl' : 'text-gray-300 hover:text-blue-600 svg__4xl'
      "
      (click)="toggleSide()"
    >
      @if (isSideOpen()) {
      <app-svg-fill-close />
      } @else {
      <app-svg-stroke-burger />
      }
    </button>
  </div>
</div>
