<div class="root z__header">
  <div class="root__left">
    <a routerLink="/" class="svg__2xl app__clr">
      <app-ghost />
    </a>
  </div>

  <div class="root__right">
    <button class="svg__3xl app__clr">
      <app-user-write />
    </button>

    <button
      [ngClass]="isOpen() ? 'text-red-600 svg__3xl' : 'text-gray-300 hover:text-blue-600 svg__4xl'"
      (click)="handleToggle()"
    >
      @if (isOpen()) {
      <app-close />
      } @else {
      <app-burger />
      }
    </button>
  </div>
</div>
