<div class="root">
  <div class="root__label">
    <span class="txt__lg">{{ f().label }}</span>
  </div>

  <div class="root__input">
    <input
      #formField
      [formControl]="ctrl()"
      (focus)="onFocus()?.(val())"
      (blur)="onBlur()?.(val())"
      (input)="onChange()?.(val())"
      [attr.data-field]="f().field"
      [attr.data-testid]="testId()"
      class="input__field txt__md"
      [style.--pad]="padding()"
      [type]="f().type"
      [placeholder]="f().place"
    />

    @if(Svg()){
    <button (click)="onSvgClick()?.()" type="button" class="input__svg svg__md">
      <ng-container *ngComponentOutlet="Svg()" />
    </button>
    }

    <app-form-field-err
      appUseFormFieldDir
      [ctrl]="ctrl()"
      [testId]="testId()"
      [optionalDep]="optionalDep()"
    />
  </div>
</div>
