<div class="root">
  <div class="root__fields">
    @for(f of formVal()?.txtInputs; track f?.id; let idx = $index){
    <div class="fields__item">
      <app-form-field-dynamic
        [ctrl]="getTxtCtrl(idx)"
        appUseDynamicFieldDir
        [idx]="idx"
        [hideLabel]="true"
        [focusOnMount]="idx === 0"
      />

      <button type="button" class="item__remove_btn svg__lg" (click)="removeItem(idx)">
        <ng-container *ngComponentOutlet="SvgClose" />
      </button>
    </div>
    }
  </div>
</div>
