<app-black-bg [props]="blackBgProps()" />

<div #barRef class="root _z__search_bar" [ngClass]="twd()">
  <app-search-bar-filter-bar-header [useBars]="useBars()" />

  <div class="root__body">
    <div class="body__labels body__scrollable app__scroll" [style.--less]="HEADER_H">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aut illum natus consequatur
      excepturi impedit, culpa et laborum dignissimos sint temporibus eaque, hic qui ipsum.
      Quibusdam facere quas iusto quod? Tempore, esse, sed, atque a nesciunt non nostrum molestiae
      quod reiciendis quia repudiandae maiores deserunt fugit inventore assumenda necessitatibus
      natus minima consequatur praesentium. Facere nam beatae commodi, culpa magni modi. Ducimus
      laborum quia magnam eum quisquam! Qui repudiandae earum veniam, dicta officiis, aut, explicabo
      porro iste odit accusantium vel debitis eos modi at necessitatibus aperiam. Nesciunt neque
      architecto animi adipisci? Excepturi, eaque maxime. Asperiores ullam aspernatur excepturi sit,
      architecto dignissimos vero rem doloremque, officia veritatis numquam beatae eum ipsum
      voluptas porro reprehenderit maxime? Dolore maxime delectus est explicabo ex ullam. Culpa
      accusantium obcaecati quibusdam, recusandae quam asperiores. Dignissimos animi perferendis
      facilis maiores maxime neque cumque ipsa vero blanditiis saepe aliquam repellat a voluptate
      nihil alias sapiente excepturi, molestiae magnam fugit. Animi maxime qui et a! Aliquam
      blanditiis at ullam assumenda modi vel facere? Et minus quod harum aspernatur ullam ratione,
      dolores sequi optio cum assumenda magni vero corporis ad tempora. Velit ducimus eius id
      commodi earum necessitatibus, dolor accusamus cupiditate magnam! Reprehenderit qui optio
      nesciunt? Sint maiores placeat voluptatibus a beatae ex qui molestias, quas aliquam
      perspiciatis dolorem assumenda necessitatibus! Recusandae dolores laboriosam at! Officia eius
      expedita incidunt debitis tenetur excepturi, architecto modi delectus nemo aperiam consectetur
      rerum obcaecati corrupti ipsam voluptatem non sed in perspiciatis laborum repellendus
      laboriosam! Placeat? Suscipit hic provident incidunt mollitia velit a dolore atque, est
      similique eum molestias praesentium, sint amet odit excepturi saepe. Earum obcaecati veniam
      non eius adipisci, et excepturi quibusdam dolorum? Pariatur! Debitis aspernatur est soluta
      deleniti facere exercitationem eveniet, quos accusamus minima. Atque tenetur eius sit, aliquam
      dolore dolores ut veritatis facilis vel suscipit. Minus, dolorum? Eos ex sed dolorem vitae!
      Facere, quo neque exercitationem maiores, illum aliquam excepturi doloribus velit quas commodi
      itaque eligendi asperiores, officia totam qui placeat laudantium laboriosam laborum at ut.
      Vitae velit culpa numquam beatae earum. Cumque quam ab numquam vero ad doloribus mollitia
      maiores corrupti tempora distinctio nesciunt, commodi culpa consequatur ullam autem voluptas
      vitae a non, consequuntur ea blanditiis labore quod tempore. Atque, voluptatum! Atque nam,
      culpa rerum voluptates placeat illo laudantium nisi fuga? Voluptates ad a libero? Esse modi,
      laborum corrupti vel unde necessitatibus a possimus cum architecto? Quisquam fugit itaque
      reprehenderit ipsum. Odio aliquam aut, neque cum odit provident ipsum, vitae iusto, et nulla
      in dolore vero sapiente temporibus veritatis doloremque beatae inventore iste non maiores
      omnis. Nostrum possimus repudiandae ex laudantium! Quaerat eum nobis nostrum sunt quidem ipsum
      consequuntur blanditiis, a error. Vero dolorem commodi laudantium ab quibusdam, sit dolorum
      repellendus ad quos vel, repellat, doloremque quasi accusamus sunt iste nam. Similique modi
      illum neque dolor. Molestiae enim cupiditate quos laboriosam harum officia perferendis est
      eos! Officiis, odio! Cum odit expedita nisi, quo deleniti sequi laborum nihil mollitia quod,
      natus unde! Nisi soluta deleniti cumque tenetur voluptates vel deserunt minima, voluptatum
      delectus, quidem temporibus, est accusamus aut quod assumenda dignissimos commodi asperiores
      cupiditate iste. Ad, eius accusamus! Rem nam nisi est? Nam ducimus tenetur, quo deleniti et
      sapiente nemo, ullam iusto quibusdam, ipsum eligendi est eaque! Quaerat possimus laborum odio.
      Odit, praesentium. Autem dolor vel omnis veniam voluptatibus asperiores animi vero.
      Voluptatibus minus cupiditate cum nisi provident tempore ipsam facere quas dicta facilis,
      pariatur maiores quisquam soluta totam ab eius magni hic quae unde rerum voluptates. Amet
      sapiente ducimus vero excepturi. Magnam corrupti itaque odio cum, vitae tenetur eligendi dicta
      velit quam optio, veniam aperiam. Eaque repellat autem nesciunt, commodi adipisci nostrum
      voluptates, nemo ullam a omnis, maiores perferendis officia consequatur?
    </div>
    <div class="body__separator"></div>
    <div class="body__vals"></div>
  </div>
</div>
