<app-black-bg [props]="blackBgProps()" />

<div #barRef class="root _z__search_bar" [ngClass]="twd()">
  <app-search-bar-filter-bar-header [useBars]="useBars()" />

  <div class="root__body">
    <div class="body__labels body__scrollable app__scroll" [style.--less]="HEIGHT_LESS"></div>
    <div class="body__separator"></div>
    <div class="body__vals body__scrollable app__scroll" [style.--less]="HEIGHT_LESS">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit saepe dolore aut
      sapiente itaque. Magni amet facere voluptatibus aliquam harum laborum consequuntur dicta, non
      ipsa, quibusdam vero deserunt soluta optio. Sunt quo ipsa animi ad quos repudiandae nesciunt
      nisi amet? Iusto sequi culpa velit ipsa ullam assumenda atque alias, quae cum debitis mollitia
      optio dolor, impedit aut facilis officia nemo. Aut quis tenetur error modi placeat minima ut
      voluptate repellat maiores sint vel officia ipsum consectetur consequatur consequuntur
      suscipit praesentium quisquam, nostrum veritatis laboriosam. Magnam in illum iusto dignissimos
      nobis! Nemo soluta dignissimos, ab cumque, molestias cupiditate ex inventore quo fugiat sed,
      quos officia dolor minima maxime vitae ratione. Modi eum libero doloremque id quo eos
      excepturi ab totam distinctio. Hic harum excepturi sed sunt quos mollitia asperiores fugit
      fugiat voluptatum quaerat odit animi delectus architecto repellendus ea quas, ex, praesentium
      ipsam eveniet debitis rem porro iste tenetur dolore? Inventore. Repellat molestias fuga atque
      dicta ipsum inventore. Eum ut eaque esse aut accusantium asperiores in provident totam modi
      quo, error similique iure? At commodi optio expedita explicabo, fugit eius dolore. Et autem
      esse earum ratione quia voluptate facere, iusto doloribus, nisi doloremque placeat saepe
      molestias vero quibusdam fugiat at? Quos adipisci quod consequuntur accusantium cupiditate?
      Sunt numquam omnis reprehenderit eum! Nisi suscipit dolore nihil consectetur error, molestias
      id eum autem enim a natus debitis mollitia nostrum accusantium eos illo! Eum inventore quidem
      nulla placeat itaque rem explicabo quod facere omnis! Obcaecati eligendi unde consequatur sunt
      mollitia, quos, incidunt voluptatem minus qui optio officiis voluptate enim culpa voluptatibus
      voluptates, accusamus corrupti saepe dolores! Animi quo voluptatibus aut recusandae similique
      culpa odio. Doloribus, recusandae. Minima vel laborum non sed necessitatibus nemo libero
      repellat corporis nisi debitis deleniti officia dolores placeat, at velit! Culpa accusantium
      deleniti unde ipsum expedita eligendi quae, id sequi!
    </div>
  </div>

  <app-search-bar-filter-bar-footer />
</div>
