@if(useFullPage()){
<div class="root">
  <ng-container *ngTemplateOutlet="formContent" />
  <ng-container *ngTemplateOutlet="footer" />
</div>
}@else {
<div class="w-full">
  <ng-container *ngTemplateOutlet="formContent" />
</div>
}

<ng-template #formContent>
  <form
    [attr.data-testid]="testId()"
    [class]="css()"
    [formGroup]="fromGroup()"
    (ngSubmit)="onSubmit()()"
  >
    <ng-content />

    <app-form-submit [testId]="testId()" [isPending]="isPending()" />
  </form>
</ng-template>
