@if(isExternal()){
<a
  [attr.href]="props().path"
  [attr.target]="'_blank'"
  [attr.rel]="'noopener noreferrer'"
  class="root btn__res"
  [style.--clr]="metaEvent().css"
  [style.padding]="padding()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}@else {
<a
  [routerLink]="props().path"
  [attr.href]="props().path"
  class="root btn__res"
  [style.--clr]="metaEvent().css"
  [style.padding]="padding()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}

<ng-template #content>
  <app-span
    [spanProps]="{
      label: props().label,
      Svg: props().Svg ?? null
    }"
  />
</ng-template>
