<a
  [routerLink]="isExternal() ? null : props().path"
  [attr.href]="isExternal() ? props().path : null"
  [attr.target]="isExternal() ? '_blank' : null"
  [attr.rel]="isExternal() ? 'noopener noreferrer' : null"
  class="root btn__res"
  [style.--clr]="metaEvent().css"
  [style.padding]="padding()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<ng-template #content>
  <app-span
    [spanProps]="{
      label: props().label,
      Svg: props().Svg ?? null
    }"
  />
</ng-template>
