@if(isExternal()){
<a
  [attr.href]="path()"
  [attr.target]="'_blank'"
  [attr.rel]="'noopener noreferrer'"
  class="root btn__res"
  [style.--clr]="metaEvent().css"
  [style.padding]="paddingProps()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}@else {
<a
  [routerLink]="path()"
  class="root btn__res"
  [style.--clr]="metaEvent().css"
  [style.padding]="paddingProps()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}

<ng-template #content>
  <app-span
    [spanProps]="{
      label: spanProps().label,
      Svg: spanProps().Svg ?? null
    }"
  />
</ng-template>
